body
{
	background-image:url("../pictures/homePic/fond.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:100% 100%;
  background-size:cover;
}

.iconGame
{
	width: 13%;
	height: 23%;
}
