body
{
	background-image:url("../pictures/homePic/fond.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:100% 100%;
  background-size:cover;
<<<<<<< HEAD
}
=======
}

.iconGame
{
	width: 13%;
	height: 23%;
}
>>>>>>> 407a955444da6207f59c5f05d283275510b2169c
